/*--------------------------------------------- Navigation Bar */

.navbar {
    background-color: rgb(0, 0, 0);
    padding: 30px;
}


.navbar-brand {
    color: #fff;
    font-size: x-large;
    font-weight: 600;
}

.nav-link{
    color: #fff;
}


a:hover { 
    color: #d20a11;
}


.active { 
    color: #ceb7a5;
}


/*
button.navbar-toggler:hover {
    color: #d20a11;
}


button.navbar-toggler {
    text-align: end;

}

button.navbar-toggler.bg-light {
    color: #d20a11;
}


*/

/*--------------------------------------------- Home hero image */

.home-hero {
    width: 100%;
    padding-bottom: 50px;
}

/*--------------------------------------------- Home welcome */

.welcome {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 25px;
}

.welcome-article {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
}

.memorial-home-page {
    width: 100%;
    height: 650px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.space {
    padding-bottom: 50px;
}



/*--------------------------------------------- Back to top button */

/* The code here for the back to top button has been taken from Material Design for Bootstrap (MDB) v5 & v4 */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
  



/*--------------------------------------------- Heroes Pages */

.remembering-hero {
    width: 100%; 
    padding-bottom: 50px;
}


.remembering {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 45px;
}



.heroes1-bg {
    background-color: #fafafa;
    padding-top: 40px;
    padding-bottom: 40px;
}


.war-hero-photo {
    padding-left: 16%;
    padding-right: 16%;
    padding-bottom: 10px;

}


.heroes2 {
    padding-top: 40px;
    padding-bottom: 40px;
}


.hero-info {
    text-align: center;
    width: 70%;
    padding-left: auto;
    padding-right: auto;

}





/*--------------------------------------------- Contact Page */

.contact-hero {
    width: 100%;
    padding-bottom: 50px;
}


.contact-header {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 45px;
}



.poppies-contact-page {
    width: 100%;
    height: 650px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.contact-us-header {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 15px;
}

.contact-text {
    text-align: center;
    font-size: medium;
    font-weight: 200;
    padding-bottom: 45px;
    padding-left: 70px;
    padding-right: 70px;
}


.title {
    font-size: medium;
    font-weight: 250;
    padding-bottom: 15px;

}


#fullname {
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 0;
}

#emailaddress {
    margin-bottom: 15px;
    margin-left: 0;

}

.form {
    padding-left: 25%;
    padding-right: 25%;
}


.message-area { 
    min-height: 380px;
    min-width: 530px;
    resize: none;
    padding-left: 25%;
    padding-right: 25%;
}




.send-button {
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    background-color: black;
    border-radius: 10px;
    padding: 5px 35px 5px 35px;
}

.button {
    padding-top: 45px;
    padding-left: 40%;
}

.button :hover {
    background-color: #d20a11;
}



/*--------------------------------------------- Footer */

.footer-bg {
    background-color: black;
}

.social-text{
    color: #fff;
    text-align: center;
    font-size: large;
    padding-top: 25px;
    margin-bottom: 0;
}

.sm-icons a {
    color: #fff;
    padding-left: 15px;
    font-size: large;
}

.sm-icons a:hover { 
    color: #d20a11;
}

.sm-icons {
    text-align: center;
    padding: 0;
    margin: 0;
}

.remember {
    color: #fff;
    text-align: center;
    font-size: x-large;
    padding-top: 2px;
}

.credit {
    color: #fff;
    text-align: center;
    font-size: x-small;
    padding-bottom: 25px;
    padding-top: 5px;
}

p {
    margin-bottom: 0;
}









/*--------------------------------------------- Media Queries */

/*
@media (max-width: 992px) { 
    .nav-item {
        justify-content: flex-end;
 
    }
    }



@media (max-width: 768px) { 
    .nav-item {
        justify-content: flex-end;
}
}


@media (min-width: 576px) {
    .col-sm-6 {
        max-width: 50%;
        flex: 0 0 50%
}
}
@media (min-width: 576px) {
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}

*/

@media (max-width: 992px) { 

}


/*--------------------------------------------- Media Queries */

/* Heroes */ /*-----------------THIS NEEDS COMPLETING */
@media (max-width: 768px) { 
    .XXXXXX { 
        padding-left: 35%;
    }
    }
    
    
    @media (max-width: 576px) {
    .XXXXXXXX {
            padding-left: 22%;
        }
    }






/* Contact Form */

@media (max-width: 768px) { 
.button { 
    padding-left: 35%;
}
}


@media (max-width: 576px) {
.button {
        padding-left: 22%;
    }
}


@media (max-width: 768px) { 
    .message-area { 
    min-height: 380px;
    min-width: 382px;
    padding: 0;
}
}


@media (max-width: 576px) {
.message-area { 
    min-height: 380px;
    min-width: 208px;
    padding: 0;
}
}




